.red {
  background-color: red;
  width: 600px;
  height: 60px;
  margin-bottom: 10px;
}

.green {
  background-color: green;
  width: 600px;
  height: 60px;
  margin-bottom: 10px;
}

.blue {
  background-color: blue;
  width: 600px;
  height: 60px;
}
